# Exclude everything.
*

# Except the public assets.
!/public/
!/public/**

# Except the scripts.
!/scripts/
!/scripts/**

# Except the source files.
!/src/
!/src/**

# Except the attributes file.
!/.gitattributes

# Except this ignore list.
!/.gitignore

# Except the package manifest.
!/package.json
!/yarn.lock

# Except the README.
!/README.md

# Except the TypeScript configuration.
!/tsconfig.json
