.container {
  display: inline-block;
}

.container + .container {
  margin-left: 5px;
}

.input {
  background: transparent;
  border: none;
  color: #808080;
  width: 50px;
  text-align: center;
}

.input:disabled {
  background: transparent;
  color: #b3b3b3;
}

.input:focus {
  background: transparent;
  box-shadow: none;
  color: #000000;
}

.label {
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  .input {
    color: #adadad;
  }

  .input:disabled {
    color: #757575;
  }

  .input:focus {
    color: #ffffff;
  }
}
